.nav-top li {
  padding: 5px 10px 8px;

  @apply inline-block;
}

.nav-dropdown a {
  padding: 5px 20px 8px;
  transition: 0.2s ease;

  @apply inline-block mt-2 text-blue-lighter leading-27px;
}

.nav-top a {
  transition: 0.2s ease;

  @apply text-blue-lighter leading-27px;
}

.nav-dropdown a:hover {
  @apply bg-blue-light text-white;
}

.nav-dropdown a::after {
  content: '';

  @apply block border-b-2 border-transparent;
}

.nav-dropdown a:hover::after {
  @apply border-white;
}

.nav-top a:hover {
  @apply text-white;
}

.nav-primary {
  max-width: 625px;
}

.sub-menu {
  @apply hidden;
}
