// Do not forget to also update tailwind.config.js colors

$transparent: transparent;
$primary: #4a4a4a;

$blue: #004fa3;
$blue-light: #3e8fdd;
$blue-lighter: #c2dfff;

$green: #6bb800;
$darkblue: #284d63;
$orange: #f2b200;
$turquoise: #1ed4d2;
$black: #4a4a4a;

$gray-dark: #616161;
$gray-medium: #8f8f8f;
$gray-light: #b2b2b2;
$gray-lighter: #f4f4f4;

$white: #fff;
